In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Cartagena,CO,2020-10-14 18:44:51,10.40,-75.51,82.40,83,40,3.36
1,1,Lompoc,US,2020-10-14 18:44:33,34.64,-120.46,91.99,25,1,8.05
2,2,Punta Arenas,CL,2020-10-14 18:47:17,-53.15,-70.92,50.00,53,75,23.04
3,3,Dikson,RU,2020-10-14 18:47:18,73.51,80.55,29.12,92,100,23.40
4,4,Vaini,TO,2020-10-14 18:47:18,-21.20,-175.20,71.60,78,90,9.17

In [3]:
# get the data types

city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center = (30.0,31.0), zoom_level = 1.25)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating = False, max_intensity = 300, point_radius = 4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.25)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.25)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.25)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 95

In [11]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)].dropna()
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Cartagena,CO,2020-10-14 18:44:51,10.40,-75.51,82.40,83,40,3.36
1,1,Lompoc,US,2020-10-14 18:44:33,34.64,-120.46,91.99,25,1,8.05
5,5,Tucurui,BR,2020-10-14 18:47:18,-3.77,-49.67,93.11,41,100,2.77
14,14,Tezu,IN,2020-10-14 18:47:19,27.92,96.17,76.35,60,0,3.36
15,15,Port Blair,IN,2020-10-14 18:47:19,11.67,92.75,80.83,81,100,12.91
18,18,Teknaf,BD,2020-10-14 18:47:19,20.86,92.31,79.11,85,36,4.25
21,21,Iracoubo,GF,2020-10-14 18:47:20,5.48,-53.20,85.05,65,0,11.70
27,27,Takoradi,GH,2020-10-14 18:47:21,4.88,-1.76,77.47,87,6,10.54
30,30,Hilo,US,2020-10-14 18:46:03,19.73,-155.09,82.00,50,1,6.93
31,31,Saint-Philippe,RE,2020-10-14 18:47:21,-21.36,55.77,75.20,83,90,2.24

In [12]:
preferred_cities_df.count()

City_ID       184
City          184
Country       184
Date          184
Lat           184
Lng           184
Max Temp      184
Humidity      184
Cloudiness    184
Wind Speed    184
dtype: int64

In [13]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp    Lat     Lng Hotel Name
0        Cartagena      CO     82.40  10.40  -75.51
1           Lompoc      US     91.99  34.64 -120.46
5          Tucurui      BR     93.11  -3.77  -49.67
14            Tezu      IN     76.35  27.92   96.17
15      Port Blair      IN     80.83  11.67   92.75
18          Teknaf      BD     79.11  20.86   92.31
21        Iracoubo      GF     85.05   5.48  -53.20
27        Takoradi      GH     77.47   4.88   -1.76
30            Hilo      US     82.00  19.73 -155.09
31  Saint-Philippe      RE     75.20 -21.36   55.77

In [14]:
params = {
    "radius": 5000,
    "types": "lodging",
    "key": g_key,
    "location": "10.40,-75.51"}
# Use base URL to search for hotels in Paris.
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
# Make request and get the JSON data from the search.
hotels = requests.get(base_url, params=params).json()

In [15]:
hotels['results'][0]['name']

'Costa Del Sol'

In [16]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key,
    }

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [17]:
hotel_df

           City Country  Max Temp    Lat     Lng                   Hotel Name
0     Cartagena      CO     82.40  10.40  -75.51                Costa Del Sol
1        Lompoc      US     91.99  34.64 -120.46   Holiday Inn Express Lompoc
5       Tucurui      BR     93.11  -3.77  -49.67  BBB Rooms Centro Tucurui PA
14         Tezu      IN     76.35  27.92   96.17                Circuit House
15   Port Blair      IN     80.83  11.67   92.75    Fortune Resort Bay Island
..          ...     ...       ...    ...     ...                          ...
568       Yanam      IN     78.80  16.73   82.22            The Regency Hotel
570      Davila      PH     82.40  18.47  120.58      SITIO 3 DAVILA PASUQUIN
574      Kibala      TD     84.20   9.11   18.35
576     Da Nang      VN     77.00  16.07  108.22         Grand Mercure Danang
577     Ternate      ID     80.62   0.80  127.40     Grand Dafam Bela Ternate

[184 rows x 6 columns]

In [18]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [19]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))