## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config3 import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Weather,Lat,Lng,Hotel Name
0,2,Matara,LK,79.45,moderate rain,5.95,80.54,Amaloh Boutique Resort
1,4,Rawson,AR,77.56,clear sky,-43.30,-65.10,Hotel Punta León
2,8,Guerrero Negro,MX,88.72,overcast clouds,27.98,-114.06,"Casa Laguna, Bed & Breakfast"
3,9,Srandakan,ID,77.02,light rain,-7.94,110.25,Puri Brata
4,14,Atuona,PF,78.58,clear sky,-9.80,-139.03,Villa Enata

In [3]:
vacation_df

,City_ID,City,Country,Max Temp,Current Weather,Lat,Lng,Hotel Name
0,2,Matara,LK,79.45,moderate rain,5.95,80.54,Amaloh Boutique Resort
1,4,Rawson,AR,77.56,clear sky,-43.30,-65.10,Hotel Punta León
2,8,Guerrero Negro,MX,88.72,overcast clouds,27.98,-114.06,"Casa Laguna, Bed & Breakfast"
3,9,Srandakan,ID,77.02,light rain,-7.94,110.25,Puri Brata
4,14,Atuona,PF,78.58,clear sky,-9.80,-139.03,Villa Enata
...,...,...,...,...,...,...,...,...
227,683,Coahuayana,MX,84.20,scattered clouds,18.73,-103.68,Hotel Los Arcos
228,684,Pangai,TO,77.00,broken clouds,-19.80,-174.35,Ha'apai Beach Resort
229,686,Bubaque,GW,82.56,few clouds,11.28,-15.83,Casa Dora - Mango Lodge
230,693,Phan Thiet,VN,76.42,moderate rain,10.93,108.10,Hotel Saigon-PT
231,705,Epe,NG,76.95,broken clouds,6.58,3.98,MAGVILLE HOTEL

In [4]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Weather}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [5]:
# 4a. Add a marker layer for each city to the map.
 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 4b. Display the figure

fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df['City']=='Tallahassee']
vacation_end = vacation_df.loc[vacation_df['City']=='Tallahassee']
vacation_stop1 = vacation_df.loc[vacation_df['City']=='Rincon']
vacation_stop2 = vacation_df.loc[vacation_df['City']=='Saint Marys'] 
vacation_stop3 = vacation_df.loc[vacation_df['City']=='Valdosta']

In [7]:
vacation_start

,City_ID,City,Country,Max Temp,Current Weather,Lat,Lng,Hotel Name
117,349,Tallahassee,US,86.0,scattered clouds,30.44,-84.28,Four Points by Sheraton Tallahassee Downtown

In [8]:
start = vacation_start["Lat"].to_numpy()[0], vacation_start["Lng"].to_numpy()[0]
start

(30.44, -84.28)

In [9]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start["Lat"].to_numpy()[0], vacation_start["Lng"].to_numpy()[0]
end = vacation_end["Lat"].to_numpy()[0], vacation_end["Lng"].to_numpy()[0]
stop1 = vacation_stop1["Lat"].to_numpy()[0], vacation_stop1["Lng"].to_numpy()[0]
stop2 = vacation_stop2["Lat"].to_numpy()[0], vacation_stop2["Lng"].to_numpy()[0]
stop3 = vacation_stop3["Lat"].to_numpy()[0], vacation_stop3["Lng"].to_numpy()[0]

In [10]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

fig = gmaps.figure()
tallahassee_itin = gmaps.directions_layer(
        start, end, waypoints=[stop1,stop2,stop3],
        travel_mode='DRIVING')
fig.add_layer(tallahassee_itin)
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Weather,Lat,Lng,Hotel Name
0,349,Tallahassee,US,86.0,scattered clouds,30.44,-84.28,Four Points by Sheraton Tallahassee Downtown
1,592,Rincon,US,87.8,broken clouds,32.30,-81.24,Bent tree subdivision
2,648,Saint Marys,US,84.2,clear sky,30.73,-81.55,Spencer House Inn
3,584,Valdosta,US,86.0,broken clouds,30.83,-83.28,Courtyard by Marriott Valdosta

In [12]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Weather}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [13]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))